h1 {
  color: darkred;
}

.container {
  background-color: olive;
}

body {
  background-color: Gold;
}

.navbar {
  display: flex;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/ca/Red_roses.jpg");
}

.login {
  float: right;
}

.login a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
}

.login a:active {
  position: relative;
  top: 3px;

}

h4 {
  color: white;
  font-size: 18px;
}

ul {
  color: white;
}

img {
width: 550px;
height: 450px;
}

.navbar li{
  display: inline;
  margin-left: 15px;
  font-size: 20px;
}
